.board-row{
    background: rgb(51, 51, 51);
    margin: 0 auto ;
    box-shadow: 5px 5px 10px 5px ;
}
.board-row .Square{
}





.board-container{
    font-size: 50px;
    width: 50%;
    margin: auto;
    color: rgb(0, 0, 0);
}
@media only screen and (max-width: 550px) {
    .board-container{

        width: 80%;
    }

}
.board-container button{
    font-size: 20px;
    color: rgb(164, 164, 164);
    background: black;
    outline: none;
    border: none;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 2px;
    cursor: pointer;
}
.board-container button:hover{
    background: rgb(36, 36, 36);
    transition: .3s linear;
}
.board-container button:active{
    box-shadow: 0px 0px 10px 3px black;
    background: rgb(0, 0, 0);
    
}
.board-container h4{
    font-size: 34px !important;
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
    /* margin-left:-25%; */
    padding: 0px;
    border-radius: 5px;
    margin-top: 30px;
}
.bl{
}
.popup{
    backdrop-filter: blur(1px);
    position: absolute;
    background: rgba(58, 58, 58, 0.82);
    width: 100%;
    height: 94.7%;
    margin: 0;
    font-size: 70px;
    color: greenyellow;
    text-shadow: 0px 0px 30px wheat;
    text-align: center;
    padding-top: 40px;
}

.popup button {
    font-size: 50px;
    color: rgb(164, 164, 164);
    background: rgba(0, 0, 0, 0.747);
    outline: none;
    border: none;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 4px;
    margin-top: 70px;
    cursor: pointer;
        /* filter: blur(3px); */
}

.popup button:hover {
    background: rgba(58, 58, 58, 0.747);
    transition: .3s linear;
}

.popup button:active {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.738);
    background: rgba(0, 0, 0, 0.779);

}


.animate-charcter {
    background-image: linear-gradient(-165deg,
    #ff0000 0%,
    #ffbb00 20%,
    #d4ff00 30%,
    #6fff00 40%,
    #00ff0d 50%,
    #00e1ff 60%,
    #0059ff 70%,
    #8000ff 80%,
    #ff00bf 90%,
    #000000 100%);
    background-size: 40% auto;
    color: #000000;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 50px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}